/* html, body */
html,
body {
    background: #fff;
}

/* default */
* {
    text-align: left;
    font-family: Arial, Tahoma, Verdana;
    font-size: 100%;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
    transition: color 500ms;
}

.img {
    width: 225px;
    height: 225px;
    border: 1px dashed;
    border-radius: 50%;
}
a:hover {
    color: #fc4f59;
}

b,
strong {
    font-weight: 600;
}

h1,
h2 {
    display: table;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 12px;
    border-bottom: 10px solid #fc4f59;
    margin-bottom: 40px !important;
}

h1.centered,
h2 {
    margin: auto;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h4 {
    display: table;
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 10px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#gridContainer {
    display: grid;
    align-items: center;
    justify-content: stretch;
    text-align: center;
}

#imgbox {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 240px 240px;
    grid-column-gap: 20px;
    text-align: center;
}

.btn {
    float: left;
    color: #000;
    font-size: 0.9em;
    background: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px 8px 15px;
    border: 1px solid #000;
    margin: 0 20px 20px 0;
    transition: all 500ms;
}

.btn:hover {
    color: #fff;
    border: 1px solid #fc4f59;
    background: #fc4f59;
}

.btn.btn_highlight {
    float: none;
    margin: auto;
    display: table;
    color: #fff;
    font-size: 0.9em;
    background: #fc4f59;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 15px 8px 15px;
    border: 1px solid #fc4f59;
    transition: all 500ms;
}

.btn.btn_highlight:hover {
    color: #fc4f59;
    background: none;
}

.btn_back {
    display: inline !important;
    margin: inherit !important;
}
